@import "bootstrap";

.profile-btn-group {
    margin-top: 1%;
}

.profile-btn-group > * {
    margin: 1%;
}

.browse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}

.thumbnail {
    margin: 1%;
    transition: all .2s ease-in-out;

    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.thumbnail-img {
    height:300px;
    border-radius: 10px;
}
.placeholder-img {
    height:300px;
    border-radius: 10px; 
}

.thumbnail:hover {
    z-index: 2;
    transform: scale(1.05);
    cursor: pointer;
}


.seller-profile-img {
    width: 50%;
}

#login-prompt {
    display: block;
    position: fixed;
}

#viewmode-toggle {
    margin-bottom: 1%;
}

.inline-form {
    display: inline-block;
}

#filters-drop {
    margin: 1%;
}

.clifford-pink {
    background-color: #BF3961;
}

.text-black {
    color: black;
}

/* remove the default arrow carrot thing from Dropdown.Toggle */
.dropdown-toggle::after {
    display: none !important; 
}

/* overwrite default bootstrap button behavior */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
    outline-color: #8064A2 !important;
    border-color: #8064A2 !important;
}
.btn-primary:hover {
    color: white !important;
    background-color: #664e82 !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    color: #8064A2 !important;
    outline-color: #8064A2 !important;
    border-color: #8064A2 !important;
}

.btn-outline-primary:hover {
    background-color: #8064A2 !important;
    color: white !important;
}


.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: #9DD7F8 !important;
    outline-color: #9DD7F8 !important;
    border-color: #9DD7F8 !important;
}
.btn-secondary:hover {
    background-color: #50b7f2 !important;
    border-color: #50b7f2 !important;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    color: #9DD7F8 !important;
    outline-color: #9DD7F8 !important;
    border-color: #9DD7F8 !important;
}

.btn-outline-secondary:hover {
    background-color: #9DD7F8 !important;
    color: white !important;
}

#profile-dropdown:hover {
    color: #333 !important;
}

#search-btn:hover {
    background-color: #664e82 !important;
}
/*
input.unique-class[type=checkbox],
input.unique-class[type=radio] {
    color: #BF3961 !important;
}
*/


#dashboard-sidebar {
    background-color: #434860;
    height:100%;
}

#dashboard-profile-icon {
    max-width: 50px;
}
#dashboard-profile-icon-img {
    margin: 30%;
    max-width: 50px;
    border-radius: 50%;
}