@import "bootstrap";

.profile-btn-group {
    margin-top: 1%;
}

.profile-btn-group > * {
    margin: 1%;
}

.browse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}

.thumbnail {
    margin: 1%;
    transition: all .2s ease-in-out;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.thumbnail-img {
    height:300px;
    border-radius: 10px;
}
.placeholder-img {
    height:300px;
    border-radius: 10px; 
}

.thumbnail:hover {
    z-index: 2;
    transform: scale(1.05);
    cursor: pointer;
}


.seller-profile-img {
    width: 50%;
}

#login-prompt {
    display: block;
    position: fixed;
}

#viewmode-toggle {
    margin-bottom: 1%;
}

.inline-form {
    display: inline-block;
}

#filters-drop {
    margin: 1%;
}

.clifford-pink {
    background-color: #BF3961;
}

.text-clifford-blue {
    color: #9DD7F8;
}
.text-clifford-blue:hover {
    color: #50b7f2;
}

.text-clifford-pink {
    color: #BF3961;
}

.text-black {
    color: black;
}

/* remove the default arrow carrot thing from Dropdown.Toggle */
.dropdown-toggle::after {
    display: none !important; 
}

/* overwrite default bootstrap button behavior */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
    outline-color: #8064A2 !important;
    border-color: #8064A2 !important;
}
.btn-primary:hover {
    color: white !important;
    background-color: #664e82 !important;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
    color: #8064A2 !important;
    outline-color: #8064A2 !important;
    border-color: #8064A2 !important;
}

.btn-outline-primary:hover {
    background-color: #8064A2 !important;
    color: white !important;
}


.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: #9DD7F8 !important;
    outline-color: #9DD7F8 !important;
    border-color: #9DD7F8 !important;
}
.btn-secondary:hover {
    background-color: #50b7f2 !important;
    border-color: #50b7f2 !important;
}

.btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary:visited {
    color: #9DD7F8 !important;
    outline-color: #9DD7F8 !important;
    border-color: #9DD7F8 !important;
}

.btn-outline-secondary:hover {
    background-color: #9DD7F8 !important;
    color: white !important;
}

#profile-dropdown:hover {
    color: #333 !important;
}

#search-btn:hover {
    background-color: #664e82 !important;
}
/*
input.unique-class[type=checkbox],
input.unique-class[type=radio] {
    color: #BF3961 !important;
}
*/

.clifford-text {
    color: #9DD7F8 !important;
    font-size: 32px !important;
}
.clifford-text:hover {
    color: #50b7f2 !important;
}

#dashboard-sidebar {
    padding-left: 1%;
    background-color: #434860;
    height:100%;
    width:200px;
    left: 0;
    position:fixed;
    border-right: solid 10px #9DD7F8;
}

#dashboard-sidebar a {
    color: #eeeeee;
}

#dashboard-profile-icon {
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 43%;
    background-color: #999999;
}

#dashboard-content {
    margin-left: 10px;
    margin-top: 3%;
    position: relative;
    left: 200px;
}

#date-string {
    font-size: 18px;
    font-weight: 200;
    margin-left: 10px;
}

.side-nav-link:hover {
    color: #696969 !important;
}

a[disabled] {
    color: #999999 !important;
}

.alt-img {
    margin-top: 13px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #999999;
}

.main-img {
    margin-top: 13px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 20px;
    background-color: #999999; 
}

.fit-main-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#product-description {
    margin-top: 5%;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius:50%;
}

.description-seller {
    margin-bottom: 10px;
}

.fit-profile-img {
    width: 70px;
    height: 70px;
    border-radius:50%;
    margin-right: 10px;
    vertical-align: bottom;
    object-fit: cover;
}

.inline-header {
    display: inline;
}

#main-nav {
    border-bottom: solid 5px #9DD7F8;
}

#purchase-btn {
    width: 150px;
    height: 50px;
    transition: all .2s ease-in-out;
    animation: fadeIn 1s;
}

.price-text {
    font-size: 32px;
}

.nav-link:focus {
    color:#cccccc;
    font-weight: 500;
}
